#player
{
    height:92px;
    width:69px;
    border: 2px solid black;
}
#gameTable
{
    margin-left: 420px;
    height:auto;
    width:auto;
    
}
#card
{
    height:92px;
    width:69px;
}
#score
{
    margin-left: 50px;
    font-size: 20px;
    height:auto;
    width:auto;
}
#replay
{
    border: 2px solid black;
    font-size: 20px;
    margin-left:15px;
    background-color: none;
}
#winner
{
    margin-left: 610px;
    font-size: 20px;
}
#background
{
    background: linear-gradient(white, gray);
}
#space
{
    width:auto;
    height:400px;
}
html
{
    height:auto;
    width:auto;
    
}
body
{
    height:auto;
    width:auto;
}
h1
{
    font-size:40px;
    text-align:center;
}
img
{
    max-height:100%;
    max-width:100%;
}
div
{
    height: auto;
    width: auto;
    float:left;
}
li, a
{
    color:black;
    text-decoration:none;
}
a:hover
{
    color:red;
    background-color:white;
    padding:0px; 
}
